[project]
	description = for testing
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/akshays14
[access "refs/for/refs/*"]
	read = group user/akshays14
	push = group user/akshays14
	label-Code-Review = -2..+2 group user/akshays14
	label-Verified = -1..+1 group user/akshays14
	rebase = group user/akshays14
	removeReviewer = group user/akshays14
	submit = group user/akshays14
[access "refs/heads/*"]
	read = group user/akshays14
	create = group user/akshays14
	push = +force group user/akshays14
	pushMerge = group user/akshays14
[access "refs/tags/*"]
	push = +force group user/akshays14
	pushTag = group user/akshays14
	pushSignedTag = group user/akshays14
